<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" scan="true">
        <encoder>
            <pattern>%-20([%thread]) %-5level %-35logger{32} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>